<IfModule !mod_remoteip.c>
  LoadModule remoteip_module modules/mod_remoteip.so
</IfModule>

<IfModule mod_remoteip.c>
  LogFormat "%a %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" combined

  RemoteIPHeader X-Real-IP
  RemoteIPInternalProxy 127.0.0.1/8
</IfModule>
