server {
    listen 80 default_server;
    listen 443 ssl default_server;
    server_name _;
    ssl_certificate {{ nginx_catchall_fullchain }};
    ssl_certificate_key {{ nginx_catchall_privkey }};
    return 444;
}
