{% if nginx_el_install_mainline %}
[nginx]
name=nginx repo mainline
baseurl=http://nginx.org/packages/mainline/rhel/$releasever/$basearch/
gpgcheck=1
enabled=1
{% else %}
[nginx]
name=nginx repo stable
baseurl=http://nginx.org/packages/rhel/$releasever/$basearch/
gpgcheck=1
enabled=1
{% endif %}
