[nginx]
{% if nginx_el_install_mainline %}
name=nginx repo mainline
baseurl=http://nginx.org/packages/mainline/{% if ansible_distribution == 'CentOS' %}centos{% else %}rhel{% endif%}/$releasever/$basearch/
{% else %}
name=nginx repo stable
baseurl=http://nginx.org/packages/{% if ansible_distribution == 'CentOS' %}centos{% else %}rhel{% endif%}/$releasever/$basearch/
{% endif %}
gpgcheck=1
enabled=1
